**.DS_Store
**.orig
*.rbc
*.sassc
.bundle
.powrc
.rspec
.rvmrc
.ruby-gemset
.ruby-version
.sass-cache
capybara-*.html
rerun.txt
pickle-email-*.html
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
