<div class="span12 main">
  <h1>Place Corgi - Video</h1>

  <iframe width="<%=@video_width %>" height="<%= @video_height %>" src="http://www.youtube.com/embed/S-zeCXlFPjk" frameborder="0" allowfullscreen></iframe>

  <h2>Source</h2>
  <textarea class="video-code" readonly="true"><iframe width='<%= @video_width %>' height='<%= @video_height %>' src='http://www.youtube.com/embed/S-zeCXlFPjk' frameborder='0' allowfullscreen></iframe></textarea>
</div>
